<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>408692823013-ned99n1jphkmphss2e4mq7vfmoukgdtp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.408692823013-ned99n1jphkmphss2e4mq7vfmoukgdtp</string>
	<key>API_KEY</key>
	<string>AIzaSyAEEH61aLeGFFOZLgJen9p3O4c8DPL98c4</string>
	<key>GCM_SENDER_ID</key>
	<string>408692823013</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.workout</string>
	<key>PROJECT_ID</key>
	<string>workoutapp-58ecb</string>
	<key>STORAGE_BUCKET</key>
	<string>workoutapp-58ecb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:408692823013:ios:4b53c156ee3f2553a8550c</string>
</dict>
</plist>